$space = #1A2C40
$blue-crush = #7897DA
$deep-blush = #E65086
$deep-blush-dark = #AC3762
$forest = #0EA675
$mint = #78C5B4
$amber = #DD5A59
$yellow = #E7BE3E
$mine-shaft = #4A4A4A
$silver = #9B9B9B
$alto = #BFBFBF
$dust = #DAD8D8
$grey = #E2E2E2
$soft = #F0F0F0
$light = #F7F7F7
$pale-grey = #F7F8FA

//State colours
$success ?=       $mint
$info ?=          $blue-crush
$warning ?=       $yellow
$error ?=         $amber
